$white: #FFFF;
$black: #0000;

$grey-15: #EAECF0;
$grey-20: #DFE1E6;

$grey-50: #5E6C84;
$grey-60: #505F79;
$grey-70: #344563;
$grey-80: #253858;
$grey-90: #172B4D;
$grey-100: #091E42;
$grey-200: #07142E;

$blue: #3D68FF;
$blue-hover: darken($blue, 10%);
$blue-zodiac: #505F79;
$yellow: #FFBE00;
$yellow-hover: darken($yellow, 8%);
$purple: #8845FF;
$red: #D63F00;


// gradients
$default-gradient: linear-gradient(135deg, $blue 0%, $purple 100%);

// status
$error: #FF4B00;
$light-red: lighten($error, 8%);
$dark-error: darken($error, 8%);
$success: #57C884;
$warning: #FFBE00;


$blue-alert-light: #DCF1FF;
$blue-alert-dark: #0D25B3;
$green-alert-light: #EFFFD8;
$green-alert-dark: #006134;
$yellow-alert-light: #FFF1C5;
$yellow-alert-dark: #A95800;


// box shadows
$box-shadow-competence-cards: 0 3px 4px 0 rgba(12, 22, 58, 0.1), 0 1px 3px 0 rgba($grey-200, 0.1);
$box-shadow-competence-cards-hover: 0 7px 14px 0 rgba(12, 22, 58, 0.2), 0 3px 6px 0 rgba($grey-200, 0.2);