<h1>Bienvenue sur Pix 360</h1>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Se connecter', new_user_session_path %>
  <% end %>
</p>
