<div class="index-feedback__row">
  <% feedbacks.each do |feedback| %>

    <%= link_to edit_feedback_path(feedback), class: 'feedback' do %>
      <div class="feedback__information">
        <div class="feedback-information__respondent">
          <%= "Remplie pour #{feedback.requester.full_name}" %>
        </div>
        <div class="feedback-information__date">
          <%= feedback.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>