<div class="index-feedback__row">
  <% feedbacks.each do |feedback| %>

    <%= link_to feedback, class: 'feedback' do %>
      <div class="feedback__information">
        <div class="feedback-information__respondent">
          <% if feedback.is_submitted %>
            <%= "Remplie par #{feedback.giver ? feedback.giver.full_name : feedback.decrypted_respondent_information[:full_name]}" %>
          <% else %>
            <%= "Demandée à #{feedback.decrypted_respondent_information[:full_name]}" %>
          <% end %>
        </div>
        <div class="feedback-information__date">
          <%= feedback.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>