<main class="feedbacks__page">
  <h1 class="feedbacks__title">Évaluations données</h1>

  <% if @feedbacks.present? %>
    <h2 class="feedbacks__subtitle">Évaluations en attente d'envoi</h2>

    <% if @feedbacks.not_submitted.present? %>
      <%= render "given-feedbacks", feedbacks: @feedbacks.not_submitted %>
    <% else %>
      <div class="feedbacks__content">
        <div class="feedbacks-content__information">Vous n'avez pas d'évaluation en attente d'envoi.</div>
      </div>
    <% end %>

    <h2 class="feedbacks__subtitle">Évaluations envoyées</h2>
    <% if @feedbacks.submitted.present? %>
      <%= render "given-feedbacks", feedbacks: @feedbacks.submitted %>
    <% else %>
      <div class="feedbacks__content">
        <div class="feedbacks-content__information">Vous n'avez pas encore donné d'évaluation.</div>
      </div>
    <% end %>

  <% else %>
    <div class="feedbacks__content">
      <p class="feedbacks-content__information">Vous n'avez pas encore donné d'évaluation.</p>
    </div>
  <% end %>
</main>