// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "globals";

.edit-feedback {
  &__page {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include device-is('tablet') {
      width: 820px;
      margin: 20px auto;
      padding: 40px 80px;
    }
  }

  &__title {
    font-family: $font-open-sans;
    font-weight: $font-light;
    font-size: 1.563rem;
    color: $grey-80;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;

    @include device-is('desktop') {
      font-size: 2.25rem;
    }
  }
}

.feedbacks {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__field {
    margin-top: 20px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__button {
    margin-top: 32px;
  }
}

.feedbacks-field {
  &__label {
    font-size: 1.2rem;
    font-weight: $font-normal;
    color: $grey-80;
    letter-spacing: .031rem;
    margin-bottom: 7px;
  }

  &__input {
    height: 180px;
    outline: 0;
    padding: 10px 10px;
    border-radius: 3px;
    border: 2px solid $grey-20;
    resize: vertical;

    &:focus {
      border: 2px solid $blue-hover;
    }
  }
}

.feedbacks-field-mail{
  &__label {
    margin-bottom: 7px;
    font-size: .938rem;
    font-weight: $font-normal;
    color: $grey-80;
    letter-spacing: .031rem;
  }

  &__input {
    height: 40px;
    outline: 0;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #DFE1E6;
  }
}

.show-feedback {
  &__page {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include device-is('tablet') {
      width: 820px;
      margin: 20px auto;
      padding: 40px 80px;
    }
  }

  &__title {
    font-family: $font-open-sans;
    font-weight: $font-light;
    font-size: 1.563rem;
    color: $grey-80;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;

    @include device-is('desktop') {
      font-size: 2.25rem;
    }
  }

  &__field {
    width: 100%;
    margin-bottom: 21px;
  }

  &__link {
    width: 100%;
    margin-bottom: 21px;
  }
}

.show-feedback-field {
  &__label {
    font-size: 1.2rem;
    font-weight: $font-normal;
    color: $grey-80;
    letter-spacing: .031rem;
    margin-bottom: 7px;
  }

  &__input {
    border: solid 1px $grey-20;
    padding: 7px;
    min-height: 70px;
  }
}

.show-feedback-link {
  &__label {
    font-size: 1.2rem;
    font-weight: $font-normal;
    color: $grey-80;
    letter-spacing: .031rem;
    margin-bottom: 7px;
  }

  &__value {
    font-size: 1rem;
    font-weight: $font-normal;
    font-weight: $grey-100;
  }
}

.index-feedback {
  &__page {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include device-is('desktop') {
      width: 820px;
      margin: 20px auto;
      padding: 40px 80px;
    }
  }

  &__title {
    font-family: $font-open-sans;
    font-weight: $font-light;
    font-size: 1.563rem;
    color: $grey-80;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;

    @include device-is('desktop') {
      font-size: 2.25rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 25px;

    @include device-is('tablet') {
      flex-direction: row;
    }
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100px;
  width: 350px;
  box-shadow: 0 3px 4px 0 rgba(12, 22, 58, 0.1), 0 1px 3px 0 rgba($grey-200, 0.1);
  border-radius: 11px;
  border: 1px solid $grey-20;
  transition: all 0.1s linear;
  text-decoration: none;

  p {
    margin: 0;
  }


  &:hover {
    top: -6px;
    box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.2), 0 3px 6px 0 rgba($grey-200, 0.2);
  }


  &__informations {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 14px;
  }
}

.feedback-informations {
  &__respondent {
    font-size: 1.1rem;
    font-weight: $font-normal;
    margin-bottom: 14px;
  }

  &__date {
    font-weight: $font-light;
    font-size: .85rem;
  }
}