@import "globals";

.navbar {
  border-bottom: 1px solid #eaecf0;

  nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 4vw 0 4vw;
  
    .pix-360-logo__image {
      margin: .5em;
      height: 50px;
      width: auto;
    }
  }

  &__item {

    display: flex;
    align-items: center;

    a {
      color: #505f79;
      text-decoration: none;
      padding: .5em;

      &:hover {
        color: #3d68ff;
      }
    }

  }

  &__center {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }
}
