@import "globals";

.navbar {
  border-bottom: 1px solid $grey-15;
  box-shadow: -1px 9px 29px -16px rgba(199, 191, 199, 0.9);

  background-color: $white;
  display: flex;
  padding: 0 4vw 0 4vw;
  gap: 1em;
  align-items: center;
  flex-direction: column;

  @include device-is('tablet') {
    gap: 0;
    flex-direction: row;
  }

  .pix-360-logo__image {
    margin: .5em;
    height: 50px;
    width: auto;
  }

  &__content {
    display: flex;
    list-style: none;
    height: 24px;
    padding: 0;
  }

  &__item {
    color: $blue-zodiac;
    text-decoration: none;
    padding: 0 8px 10px;
    line-height: 22px;

    &:hover {
      color: $blue;
    }
  }

  &__center {
    display: flex;
    flex: 1;
    gap: 1em;
    margin: 0 .5em;
    justify-content: center;
    flex-direction: column;

    @include device-is('tablet') {
      gap: 2em;
      flex-direction: row;
    }
  }

  &__user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 153px;
    margin-bottom: 10px;

    @include device-is('tablet') {
      margin-bottom: 0;
    }
  }
}

.navbar-item {
  &--active {
    border-bottom: 2px solid $blue;
  }
}

.navbar-user-information {
  &__name {
    font-family: $font-roboto;
    font-weight: $font-normal;
    font-size: 1rem;
    color: $grey-90;
  }

  &__link {
    font-family: $font-roboto;
    font-weight: $font-light;
    font-size: 1rem;

    a {
      color: $blue-zodiac;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
    }
  }
}