// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "globals";

.users {
  &__sign-in {
    display: flex;
    justify-content: center;
    background: $default-gradient;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;

    abbr {
      text-decoration: none;
    }
  }
}

.sign-in-form {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 420px;
    border-radius: 10px;
    background-color: $white;
    margin: 0 auto;
    padding: 20px 10px;

    @include device-is('tablet') {
      width: 609px;
      margin: 20px 0;
      padding: 40px 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__notification-message {
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;

    &--success {
      color: $success;
    }

    &--error {
      color: $dark-error;
    }
  }
}

// Text Styles

.sign-in-form-title {
  font-family: $font-open-sans;
  color: $grey-80;
  margin: 0;
  font-size: 1.563rem;
  font-weight: $font-light;

  @include device-is('desktop') {
    font-size: 2.25rem;
  }
}

.sign-in-form-body {

  &__google-connect-link {
    margin-bottom: 20px;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.13);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $grey-70;
    background-color: $white;

    &:hover {
      box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
      transition: box-shadow 300ms linear;
    }

    &:visited {
      color: $grey-70;
    }
  }

  &__bottom-decoration {
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid $grey-20;
    line-height: 0.1rem;
    margin: 30px 0 40px;

    @include device-is('mobile') {
      width: 100%;
    }

    span {
      font-size: 16px;
      color: $grey-80;
      background: $white;
      padding: 0 10px;
    }
  }
}

.sign-in-form-google-connect-link {
  &__logo {
    margin-right: 8px;
  }

  &__text {
    font-family: $font-roboto;
  }
}