// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "globals";

.users {
  &__sign-in {
    width: 420px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 32px;
  }
}

.users--sign-in {
  &__title {
    font-family: $font-open-sans;
    font-size: 2.25rem;
    font-weight: $font-light;
  }

  &__button {
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.13);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $grey-70;

    &:hover {
      box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
      transition: box-shadow 300ms linear;
    }

    &:visited {
      color: $grey-70;
    }
  }
}

.users--sign-in--button {
  &__logo {
    margin-right: 8px;
  }

  &__text {
    font-family: $font-roboto;
  }
}